@import url("http://fonts.googleapis/com/css?family=Inter:700,600,400");

*{
    font-size: 14px;
}

body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    margin: auto;
    align-items: center;
}

.header{
    margin: auto;
    margin: 30px 45px;
    display: flex;
    justify-content: space-between;
}

.col-md-15{
    margin: auto;
    margin: 40px 45px;
}

.sec-1 h4{
    margin: 25px;
    justify-content: center;
    display: flex;
}

.wrapper{
    margin: auto;
    margin: 20px 100px;
}

.sec-2{
    margin: auto;
    justify-content: center;
}

form{
    margin: 5% 15%;
}

.submit{
    margin: 40px;
    margin: 2% 20%
}

.navbar {
    background-color: #FFFFFF;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #000000;
}

.navbar-brand {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.navbar-links {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-links li {
    margin-right: 80px;
}

.navbar-links li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
    /* Add transition for smooth effect */
}

.navbar-links li a:hover {
    color: #808080;
    /* Set the color on hover */
}

.navbar-profile {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.navbar-tittle {
    display: flex;
    margin-right: auto;
    color: #000000;
    font-weight: 700;
}
/* ... Your existing styles ... */

.dropdown-menu {
    display: none;
    padding-left: 10px;
}

.dropdown-menu li {
    margin-bottom: 5px;
}

.dropdown-link.active+.dropdown-menu {
    display: block;
}

.navbar-links li {
    margin-right: 40px;
}